In [1]:
import pandas as pd

In [2]:
project_id = "E-CURD-6"

In [3]:
combs_file = project_id + '/' + project_id + "_combs.csv"
combs_file

'E-CURD-6/E-CURD-6_combs.csv'

In [4]:
combinations = pd.read_csv(combs_file)
combinations = combinations.drop(['numOfCells'], axis=1)
combinations.columns = [col.replace('.', ' ') for col in combinations.columns]
combinations

       organism         cell type developmental stage organism part
0  Homo sapiens  bone marrow cell               adult   bone marrow
1  Homo sapiens  bone marrow cell      juvenile stage   bone marrow

In [5]:
net_folder = project_id + '/' + project_id + "_comb1_age_iter0"
net_folder

'E-CURD-6/E-CURD-6_comb1_age_iter0'

In [6]:
net_name = net_folder.split('/')[1]
net_name

'E-CURD-6_comb1_age_iter0'

In [31]:
_, comb, corr, iteration = net_name.split('_')

comb = int(''.join(filter(str.isdigit, comb))) - 1
iteration = ''.join(filter(str.isdigit, iteration))
metadata = combinations.iloc[[comb]].to_dict('records')[0]

print(f'''
GCN:
\tProject: {project_id}
\tCorr: {corr}
\tIteration: {iteration}
\tMetadata: {metadata}''')

GCN:
	Project: E-CURD-6
	Corr: age
	Iteration: 0
	Metadata: {'organism': 'Homo sapiens', 'cell type': 'bone marrow cell', 'developmental stage': 'adult', 'organism part': 'bone marrow'}

In [8]:
cell_type = pd.read_csv(net_folder + "/netE-CURD-6_comb1_age_iter0.4.it.50.rds_celltype.csv")
cell_type

,Unnamed: 0,navajowhite1,orangered3,floralwhite,lightpink4,darkgreen,lavenderblush2,tan4,sienna4,black,...,thistle,lavenderblush1,green4,brown2,plum1,deeppink,skyblue2,skyblue4,salmon4,plum
0,Astrocyte,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1,Bcells,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2,CA1_Pyramidal,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
3,CA1.Pyramidal,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
4,CD8Tcells,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130,Th1cells,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
131,Th2cells,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
132,Thelpercells,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
133,VTA_Dopaminergic,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
134,VTA_DopaminergicNeuron,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [22]:
MM = pd.read_csv(net_folder + "/netE-CURD-6_comb1_age_iter0.4.it.50.rds_getMM.csv", sep='\t')
MM = MM.dropna()
MM[['module', 'name', 'mm']]

      module          name        mm
0     coral4          AOC1  0.534886
1     coral4          H1-3  0.251948
2     coral4          PUDP  0.716304
3     coral4         MARS1  0.624046
4     coral4        H2BC21  0.166152
...      ...           ...       ...
1925   plum4         TXNP4  0.980158
1926   plum4  MICOS10-NBL1  0.871786
1927   plum4       RPSAP75  0.840429
1928   plum4    ATP5F1AP10  0.881871
1929   plum4     BIRC6-AS2  0.496530

[1929 rows x 3 columns]

In [10]:
gprof = pd.read_csv(net_folder + "/netE-CURD-6_comb1_age_iter0.4.it.50.rds_gprof.csv")
gprof[['term_name', 'term_id', 'source', 'IC', 'query', 'p_value']]

,term_name,term_id,source,IC,query,p_value
0,Glyoxylate and dicarboxylate metabolism,KEGG:00630,KEGG,NaN,antiquewhite2,4.870310e-02
1,heme metabolic process,GO:0042168,GO:BP,7.837094,black,3.717444e-09
2,heme biosynthetic process,GO:0006783,GO:BP,8.112506,black,5.958786e-09
3,porphyrin-containing compound metabolic process,GO:0006778,GO:BP,7.395261,black,1.018059e-08
4,porphyrin-containing compound biosynthetic pro...,GO:0006779,GO:BP,7.954877,black,2.268203e-08
...,...,...,...,...,...,...
263,PML body,GO:0016605,GO:CC,6.573316,yellow,4.858211e-02
264,Carbohydrate digestion and absorption,KEGG:04973,KEGG,NaN,yellow,3.996422e-02
265,mitochondrion,GO:0005739,GO:CC,3.223047,yellow4,1.555761e-02
266,intracellular organelle,GO:0043229,GO:CC,0.883485,yellow4,3.841220e-02
267,Calcium signaling pathway,KEGG:04020,KEGG,NaN,yellowgreen,6.788773e-03

In [16]:
PEG = pd.read_csv(net_folder + "/netE-CURD-6_comb1_age_iter0.4.it.50.rds_PEG.csv")
PEG[['term_name', 'term_id', 'source', 'module', 'pvalue']]

,term_name,term_id,source,module,pvalue
0,"Anemia, Diamond-Blackfan",C1260899,GENOMICS_ENGLAND,navajowhite1,1.302769e-03
1,Alcohol Use Disorder,C0001956,PSYGENET,orangered3,1.876268e-03
2,"Anemia, Diamond-Blackfan",C1260899,ORPHANET,sienna4,3.487540e-03
3,Aase Smith syndrome 2,C2931850,ORPHANET,sienna4,3.487540e-03
4,Hemolytic anemia,HP:0001878,HPO,black,1.484409e-15
...,...,...,...,...,...
154,cocaine use,C3496069,PSYGENET,lavenderblush1,9.372763e-04
155,Hydrops Fetalis,C0020305,GENOMICS_ENGLAND,lavenderblush1,2.860451e-03
156,Hypertrophic Cardiomyopathy,C0007194,CLINGEN,deeppink,1.197834e-02
157,Noonan Syndrome,C0028326,CLINGEN,salmon4,4.467166e-04
158,Mild microcephaly,HP:0040196,HPO,plum,4.047386e-05

In [28]:
module_names = sorted(MM['module'].unique())
module_names

['antiquewhite1',
 'antiquewhite2',
 'antiquewhite4',
 'bisque4',
 'black',
 'blue',
 'blue2',
 'blue4',
 'blueviolet',
 'brown',
 'brown2',
 'brown4',
 'chocolate4',
 'coral',
 'coral1',
 'coral2',
 'coral3',
 'coral4',
 'cyan',
 'darkgreen',
 'darkgrey',
 'darkmagenta',
 'darkolivegreen',
 'darkolivegreen2',
 'darkolivegreen4',
 'darkorange',
 'darkorange2',
 'darkred',
 'darkseagreen2',
 'darkseagreen3',
 'darkseagreen4',
 'darkslateblue',
 'darkturquoise',
 'darkviolet',
 'deeppink',
 'firebrick3',
 'firebrick4',
 'floralwhite',
 'green',
 'green4',
 'greenyellow',
 'grey60',
 'honeydew',
 'honeydew1',
 'indianred3',
 'indianred4',
 'ivory',
 'lavenderblush1',
 'lavenderblush2',
 'lavenderblush3',
 'lightblue4',
 'lightcoral',
 'lightcyan',
 'lightcyan1',
 'lightgreen',
 'lightpink2',
 'lightpink3',
 'lightpink4',
 'lightslateblue',
 'lightsteelblue',
 'lightsteelblue1',
 'lightyellow',
 'magenta',
 'magenta3',
 'magenta4',
 'maroon',
 'mediumorchid',
 'mediumpurple1',
 'mediumpurple2',
 'mediumpurple3',
 'mediumpurple4',
 'midnightblue',
 'mistyrose',
 'navajowhite',
 'navajowhite1',
 'navajowhite2',
 'orange',
 'orangered1',
 'orangered3',
 'orangered4',
 'paleturquoise',
 'palevioletred1',
 'palevioletred2',
 'palevioletred3',
 'pink',
 'pink4',
 'plum',
 'plum1',
 'plum2',
 'plum3',
 'plum4',
 'purple',
 'red',
 'royalblue',
 'saddlebrown',
 'salmon',
 'salmon1',
 'salmon2',
 'salmon4',
 'sienna3',
 'sienna4',
 'skyblue',
 'skyblue1',
 'skyblue2',
 'skyblue3',
 'skyblue4',
 'slateblue',
 'steelblue',
 'tan',
 'tan4',
 'thistle',
 'thistle1',
 'thistle2',
 'thistle3',
 'thistle4',
 'turquoise',
 'violet',
 'white',
 'yellow',
 'yellow3',
 'yellow4',
 'yellowgreen']

In [34]:
# Create GCN (project_id, corr, iteration, metadata)

for module_name in module_names[:8]:
    print(module_name)
    
    # Create Module (module_name, gcn_id)
    
    sub_MM = MM[MM['module'] == module_name]
    for _, module_membership in sub_MM.iterrows():
        # Create Module_Memberhsip (module_id, gene_name, mm)
        gene_name = MM['name']
        mm = MM['mm']
    
    sub_gprof = gprof[gprof['query'] == module_name]
    for _, annotation in sub_gprof.iterrows():
        # Get/Create Term (term_name, term_id, source, IC)
        term_name = annotation['term_name']
        term_id = annotation['term_id']
        source = annotation['source']
        IC = annotation['IC']
        
        # Create Annotation (module_id, term_bd_id, p_value)
        p_value = annotation['p_value']
        
    sub_PEG = PEG[PEG['module'] == module_name]
    for _, annotation in sub_gprof.iterrows():
        # Get/Create Term (term_name, term_id, source)
        term_name = annotation['term_name']
        term_id = annotation['term_id']
        source = annotation['source']
        
        # Create Annotation (module_id, term_bd_id, p_value)
        p_value = annotation['p_value']
        
    print(f"\t Genes: {len(sub_MM)}")
    print(f"\t Terms: {len(sub_gprof)}")
    print(f"\t Pheno Terms: {len(sub_PEG)}")

antiquewhite1
	 Genes: 32
	 Terms: 0
	 Pheno Terms: 0
antiquewhite2
	 Genes: 12
	 Terms: 1
	 Pheno Terms: 1
antiquewhite4
	 Genes: 13
	 Terms: 0
	 Pheno Terms: 0
bisque4
	 Genes: 24
	 Terms: 0
	 Pheno Terms: 1
black
	 Genes: 18
	 Terms: 27
	 Pheno Terms: 56
blue
	 Genes: 13
	 Terms: 0
	 Pheno Terms: 0
blue2
	 Genes: 10
	 Terms: 0
	 Pheno Terms: 0
blue4
	 Genes: 19
	 Terms: 0
	 Pheno Terms: 4