In [21]:
import requests
import pandas as pd

In [36]:
base_url = "http://77.83.99.74:5000/project/metadata/"

# Cell Type

In [37]:
response = requests.get(base_url + "cell_type")
results = response.json()
new_results = []

for result in results:
    term = result['term']
    URIs = result['URI']
    
    for URI in URIs:
        if URI is None:
            continue
        
        repo = URI.split('/')[-1].split('_')[0]
        
        new_results.append({
            'term': term,
            'URI': URI,
            'repo': repo
        })
        
cell_types = pd.DataFrame(new_results)
cell_types

,term,URI,repo
0,Adipocyte,http://purl.obolibrary.org/obo/CL_0000136,CL
1,AorticEndothelialCell,http://purl.obolibrary.org/obo/CL_0002544,CL
2,Astrocyte,http://purl.obolibrary.org/obo/CL_0000127,CL
3,BasophilMastProgenitorCell,http://purl.obolibrary.org/obo/CL_0002028,CL
4,Bcell,http://purl.obolibrary.org/obo/CL_0000236,CL
...,...,...,...
105,Thrombocyte,http://purl.obolibrary.org/obo/GO_0002574,GO
106,ThymicTcell,http://purl.obolibrary.org/obo/CL_0002419,CL
107,TotipotentStemCell,http://purl.obolibrary.org/obo/CL_0000052,CL
108,TransitionalStageBcell,http://purl.obolibrary.org/obo/CL_0000818,CL
109,Tumor,http://purl.obolibrary.org/obo/PR_000049488,PR

In [40]:
len(cell_types.term.unique())

102

In [66]:
cell_types_counts = cell_types[['term', 'repo']].groupby(by='repo').count()
cell_types_counts = cell_types_counts.rename(columns={"term": "cell_type_terms"})
cell_types_counts

        cell_type_terms
repo
CL                   99
EFO                   3
FBbt                  1
GO                    1
NCIT                  3
PO                    1
PR                    1
UBERON                1

# Disease

In [41]:
response = requests.get(base_url + "disease")
results = response.json()
new_results = []

for result in results:
    term = result['term']
    URIs = result['URI']
    
    for URI in URIs:
        if URI is None:
            continue
        
        repo = URI.split('/')[-1].split('_')[0]
        
        new_results.append({
            'term': term,
            'URI': URI,
            'repo': repo
        })
        
diseases = pd.DataFrame(new_results)
diseases

,term,URI,repo
0,AcousticNeuroma,http://purl.obolibrary.org/obo/DOID_12689,DOID
1,AcousticNeuroma,http://purl.obolibrary.org/obo/HP_0009588,HP
2,AcousticNeuroma,http://purl.obolibrary.org/obo/MONDO_0001569,MONDO
3,AcousticNeuroma,http://www.ebi.ac.uk/efo/EFO_0000693,EFO
4,AcquiredAneurysmalSubarachnoidHemorrhage,http://purl.obolibrary.org/obo/MONDO_0019543,MONDO
...,...,...,...
141,UlcerativeColitis,http://www.ebi.ac.uk/efo/EFO_0000729,EFO
142,VentricularTachycardia,http://purl.obolibrary.org/obo/HP_0004756,HP
143,VentricularTachycardia,http://purl.obolibrary.org/obo/MONDO_0005477,MONDO
144,VentricularTachycardia,http://purl.obolibrary.org/obo/SYMP_0000827,SYMP
145,VentricularTachycardia,http://www.ebi.ac.uk/efo/EFO_0005306,EFO

In [42]:
len(diseases.term.unique())

72

In [67]:
diseases_counts = diseases[['term', 'repo']].groupby(by='repo').count()
diseases_counts = diseases_counts.rename(columns={"term": "disease_terms"})
diseases_counts

          disease_terms
repo
DOID                 24
EFO                  58
HP                   11
MONDO                43
NBO                   2
NCIT                  2
Orphanet              2
PATO                  2
SYMP                  2

# Organism Part

In [44]:
response = requests.get(base_url + "organism_part")
results = response.json()
new_results = []

for result in results:
    term = result['term']
    URIs = result['URI']
    
    for URI in URIs:
        if URI is None:
            continue
        
        repo = URI.split('/')[-1].split('_')[0]
        
        new_results.append({
            'term': term,
            'URI': URI,
            'repo': repo
        })
        
organism_parts = pd.DataFrame(new_results)
organism_parts

                 term                                            URI    repo
0           Adipocyte      http://purl.obolibrary.org/obo/CL_0000136      CL
1       AdiposeTissue  http://purl.obolibrary.org/obo/UBERON_0001013  UBERON
2       AdiposeTissue     http://purl.obolibrary.org/obo/ZFA_0005345     ZFA
3           Allantois  http://purl.obolibrary.org/obo/UBERON_0004340  UBERON
4               Aorta  http://purl.obolibrary.org/obo/UBERON_0000947  UBERON
..                ...                                            ...     ...
268  VisceralEndoderm  http://purl.obolibrary.org/obo/UBERON_0004877  UBERON
269     WholeOrganism  http://purl.obolibrary.org/obo/UBERON_0000468  UBERON
270           YolkSac  http://purl.obolibrary.org/obo/UBERON_0001040  UBERON
271   YolkSacEndoderm  http://purl.obolibrary.org/obo/UBERON_0003257  UBERON
272    presumptiveGut  http://purl.obolibrary.org/obo/UBERON_0007026  UBERON

[273 rows x 3 columns]

In [45]:
len(organism_parts.term.unique())

219

In [68]:
organism_parts_counts = organism_parts[['term', 'repo']].groupby(by='repo').count()
organism_parts_counts = organism_parts_counts.rename(columns={"term": "organism_parts_terms"})
organism_parts_counts

        organism_parts_terms
repo
CL                        99
EFO                        4
EMAPA                      1
FBbt                       4
FMA                        1
GO                         1
NCIT                       4
OMIT                       1
PO                         9
PR                         1
UBERON                   124
ZFA                       24

In [70]:
aux = pd.merge(cell_types_counts, diseases_counts, how='outer', left_index=True, right_index=True)
repos = pd.merge(aux, organism_parts_counts, how='outer', left_index=True, right_index=True)
repos

          cell_type_terms  disease_terms  organism_parts_terms
repo
CL                   99.0            NaN                  99.0
DOID                  NaN           24.0                   NaN
EFO                   3.0           58.0                   4.0
EMAPA                 NaN            NaN                   1.0
FBbt                  1.0            NaN                   4.0
FMA                   NaN            NaN                   1.0
GO                    1.0            NaN                   1.0
HP                    NaN           11.0                   NaN
MONDO                 NaN           43.0                   NaN
NBO                   NaN            2.0                   NaN
NCIT                  3.0            2.0                   4.0
OMIT                  NaN            NaN                   1.0
Orphanet              NaN            2.0                   NaN
PATO                  NaN            2.0                   NaN
PO                    1.0            NaN                   9.0
PR                    1.0            NaN                   1.0
SYMP                  NaN            2.0                   NaN
UBERON                1.0            NaN                 124.0
ZFA                   NaN            NaN                  24.0

In [73]:
repos = repos.fillna(0)
repos

          cell_type_terms  disease_terms  organism_parts_terms
repo
CL                   99.0            0.0                  99.0
DOID                  0.0           24.0                   0.0
EFO                   3.0           58.0                   4.0
EMAPA                 0.0            0.0                   1.0
FBbt                  1.0            0.0                   4.0
FMA                   0.0            0.0                   1.0
GO                    1.0            0.0                   1.0
HP                    0.0           11.0                   0.0
MONDO                 0.0           43.0                   0.0
NBO                   0.0            2.0                   0.0
NCIT                  3.0            2.0                   4.0
OMIT                  0.0            0.0                   1.0
Orphanet              0.0            2.0                   0.0
PATO                  0.0            2.0                   0.0
PO                    1.0            0.0                   9.0
PR                    1.0            0.0                   1.0
SYMP                  0.0            2.0                   0.0
UBERON                1.0            0.0                 124.0
ZFA                   0.0            0.0                  24.0

In [75]:
repos = repos.astype('int32')
repos

          cell_type_terms  disease_terms  organism_parts_terms
repo
CL                     99              0                    99
DOID                    0             24                     0
EFO                     3             58                     4
EMAPA                   0              0                     1
FBbt                    1              0                     4
FMA                     0              0                     1
GO                      1              0                     1
HP                      0             11                     0
MONDO                   0             43                     0
NBO                     0              2                     0
NCIT                    3              2                     4
OMIT                    0              0                     1
Orphanet                0              2                     0
PATO                    0              2                     0
PO                      1              0                     9
PR                      1              0                     1
SYMP                    0              2                     0
UBERON                  1              0                   124
ZFA                     0              0                    24

In [78]:
len(repos)

19

In [84]:
repos['organism_parts_terms'] = repos['organism_parts_terms'] - repos['cell_type_terms']
repos

          cell_type_terms  disease_terms  organism_parts_terms
repo
CL                     99              0                     0
DOID                    0             24                     0
EFO                     3             58                     1
EMAPA                   0              0                     1
FBbt                    1              0                     3
FMA                     0              0                     1
GO                      1              0                     0
HP                      0             11                     0
MONDO                   0             43                     0
NBO                     0              2                     0
NCIT                    3              2                     1
OMIT                    0              0                     1
Orphanet                0              2                     0
PATO                    0              2                     0
PO                      1              0                     8
PR                      1              0                     0
SYMP                    0              2                     0
UBERON                  1              0                   123
ZFA                     0              0                    24

In [86]:
repos.loc['Total'] = repos.sum()
repos

          cell_type_terms  disease_terms  organism_parts_terms
repo
CL                     99              0                     0
DOID                    0             24                     0
EFO                     3             58                     1
EMAPA                   0              0                     1
FBbt                    1              0                     3
FMA                     0              0                     1
GO                      1              0                     0
HP                      0             11                     0
MONDO                   0             43                     0
NBO                     0              2                     0
NCIT                    3              2                     1
OMIT                    0              0                     1
Orphanet                0              2                     0
PATO                    0              2                     0
PO                      1              0                     8
PR                      1              0                     0
SYMP                    0              2                     0
UBERON                  1              0                   123
ZFA                     0              0                    24
Total                 110            146                   163

In [91]:
repos['total_terms'] = repos.sum(axis=1)
repos

          cell_type_terms  disease_terms  organism_parts_terms  total_terms
repo
CL                     99              0                     0           99
DOID                    0             24                     0           24
EFO                     3             58                     1           62
EMAPA                   0              0                     1            1
FBbt                    1              0                     3            4
FMA                     0              0                     1            1
GO                      1              0                     0            1
HP                      0             11                     0           11
MONDO                   0             43                     0           43
NBO                     0              2                     0            2
NCIT                    3              2                     1            6
OMIT                    0              0                     1            1
Orphanet                0              2                     0            2
PATO                    0              2                     0            2
PO                      1              0                     8            9
PR                      1              0                     0            1
SYMP                    0              2                     0            2
UBERON                  1              0                   123          124
ZFA                     0              0                    24           24
Total                 110            146                   163          419